/*
This file is part of Papyrus Plugin for Notepad++.

Copyright (C) 2016 Tschilkroete <tschilkroete@gmail.com> (original author)
Copyright (C) 2021 blu3mania <blu3mania@hotmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

#pragma code_page(65001) // UTF-8

#include "Common\Resources.hpp"

#include "..\external\npp\ColourPopupResource.h"

#define APSTUDIO_HIDDEN_SYMBOLS
#include <commctrl.h>
#include <windows.h>
#undef APSTUDIO_HIDDEN_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
//
// Dialogs
//

IDD_ERRORS_WINDOW DIALOGEX 0, 0, 312, 184
CAPTION "Papyrus Script Errors"
{
  CONTROL "ErrorList", IDC_ERRORS_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_NOSORTHEADER | WS_BORDER, 0, 0, 0, 0
}

IDD_ABOUT_DIALOG DIALOGEX 0, 0, 296, 216
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "About Papyrus Plugin"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
{
  LTEXT         "Papyrus Plugin for Notepad++" , IDC_ABOUT_PRODUCT_NAME, 16, 12, 106, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "v[VERSION] (Build [BUILD])", IDC_ABOUT_PRODUCT_VERSION, 128, 12, 80, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "Copyright 2021", IDC_ABOUT_COPYRIGHT, 16, 24, 200, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "Homepage:", IDC_ABOUT_HOMEPAGE, 16, 48, 108, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "https://github.com/blu3mania/npp-papyrus", IDC_ABOUT_HOMEPAGE_LINK, 128, 48, 160, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "License:", IDC_ABOUT_LICENSE, 16, 60, 108, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "GNU General Public Licence v3", IDC_ABOUT_LICENSE_LINK, 128, 60, 160, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "Authors:", IDC_ABOUT_AUTHORS, 16, 72, 200, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "Tschilkroete (original)", IDC_ABOUT_ORIG_AUTHOR, 32, 84, 92, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "tschilkroete@gmail.com", IDC_ABOUT_ORIG_AUTHOR_EMAIL, 128, 84, 160, 10
  LTEXT         "blu3mania", IDC_ABOUT_AUTHOR, 32, 96, 92, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "blu3mania@hotmail.com", IDC_ABOUT_AUTHOR_EMAIL, 128, 96, 160, 10
  CONTROL       "", IDC_ABOUT_SEPARATOR, "Static", SS_ETCHEDHORZ, 16, 113, 264, 1
  LTEXT         "This plugin includes source code (original/modified) from the following libraries:", IDC_ABOUT_LIBRARIES, 16, 120, 264, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "Notepad++", IDC_ABOUT_LIBRARY_NPP, 32, 132, 92, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "See ? -> About Notepad++ for more information", IDC_ABOUT_LIBRARY_NPP_LINK, 128, 132, 160, 10
  LTEXT         "Scintilla/Lexilla", IDC_ABOUT_LIBRARY_SCINTILLA, 32, 144, 92, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "https://www.scintilla.org", IDC_ABOUT_LIBRARY_SCINTILLA_LINK, 128, 144, 160, 10
  LTEXT         "TinyXML2", IDC_ABOUT_LIBRARY_TINYXML, 32, 156, 92, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "http://www.grinninglizard.com/tinyxml2", IDC_ABOUT_LIBRARY_TINYXML_LINK, 128, 156, 160, 10
  LTEXT         "Guidelines Support Library", IDC_ABOUT_LIBRARY_GSL, 32, 168, 92, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "https://github.com/microsoft/GSL", IDC_ABOUT_LIBRARY_GSL_LINK, 128, 168, 160, 10
  DEFPUSHBUTTON "Ok", IDOK, 128, 192, 40, 12
}

IDD_SETTINGS_DIALOG DIALOGEX 0, 0, 396, 240
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Papyrus Plugin Settings"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
{
    CONTROL       "SettingsTabs", IDC_SETTINGS_TABS, "SysTabControl32", TCS_MULTILINE | WS_TABSTOP, 4, 4, 388, 234
}

//
// Lexer dialog
//

IDD_SETTINGS_LEXER_TAB_DLG DIALOGEX 0, 0, 388, 234
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
{
    GROUPBOX      "Papyrus Script Lexer", IDC_SETTINGS_LEXER_SCRIPT_GROUP, 12, 24, 372, 116, BS_LEFT
    CONTROL       "Fold on Else and ElseIf", IDC_SETTINGS_LEXER_FOLD_MIDDLE, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 20, 36, 120, 12, WS_EX_TRANSPARENT
    CONTROL       "Enable class names caching", IDC_SETTINGS_LEXER_CLASS_NAME_CACHING, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 20, 56, 120, 12, WS_EX_TRANSPARENT
    CONTROL       "Style class names as links when mouse hovers over", IDC_SETTINGS_LEXER_CLASS_LINK, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 20, 76, 200, 12, WS_EX_TRANSPARENT
    CONTROL       "Show underline", IDC_SETTINGS_LEXER_CLASS_LINK_UNDERLINE, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 32, 98, 64, 12, WS_EX_TRANSPARENT
    LTEXT         "Foreground color:", IDC_SETTINGS_LEXER_CLASS_LINK_FGCOLOR_LABEL, 104, 100, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
    LTEXT         "Background color:", IDC_SETTINGS_LEXER_CLASS_LINK_BGCOLOR_LABEL, 216, 100, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
    LTEXT         "Required key modifier to activate:", IDC_SETTINGS_LEXER_CLASS_LINK_MODIFIER_LABEL, 32, 120, 112, 12, SS_NOTIFY, WS_EX_TRANSPARENT
    CONTROL       "Shift", IDC_SETTINGS_LEXER_CLASS_LINK_MODIFIER_SHIFT, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 152, 118, 32, 12, WS_EX_TRANSPARENT
    CONTROL       "Ctrl", IDC_SETTINGS_LEXER_CLASS_LINK_MODIFIER_CTRL, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 192, 118, 32, 12, WS_EX_TRANSPARENT
    CONTROL       "Alt", IDC_SETTINGS_LEXER_CLASS_LINK_MODIFIER_ALT, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 232, 118, 32, 12, WS_EX_TRANSPARENT
    LTEXT         "To configure lexer's styles, please use Notepad++'s", IDC_SETTINGS_LEXER_STYLER_CONFIG_TEXT1, 12, 156, 168, 10, SS_NOTIFY, WS_EX_TRANSPARENT
    LTEXT         "Style Configurator", IDC_SETTINGS_LEXER_STYLER_CONFIG_LINK, 183, 156, 60, 10
    LTEXT         "Select Papyrus Script from Language list, likely the last one", IDC_SETTINGS_LEXER_STYLER_CONFIG_TEXT2, 12, 172, 200, 10, SS_NOTIFY, WS_EX_TRANSPARENT
}
  //
  // Keyword dialog
  //
IDD_SETTINGS_TAB_KEYWORD_MATCHER_DLG DIALOGEX 0, 0, 388, 234
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
{
    CONTROL       "Enable keyword matching", IDC_SETTINGS_MATCHER, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 12, 24, 120, 12, WS_EX_TRANSPARENT
    LTEXT         "Select keywords to match", IDC_SETTINGS_MATCHER_KEYWORDS_LABEL, 24, 44, 120, 12, SS_NOTIFY, WS_EX_TRANSPARENT
    CONTROL       "Function/EndFunction", IDC_SETTINGS_MATCHER_KEYWORD_FUNCTION, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 36, 60, 88, 12, WS_EX_TRANSPARENT
    CONTROL       "State/EndState", IDC_SETTINGS_MATCHER_KEYWORD_STATE, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 132, 60, 88, 12, WS_EX_TRANSPARENT
    CONTROL       "Event/EndEvent", IDC_SETTINGS_MATCHER_KEYWORD_EVENT, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 228, 60, 88, 12, WS_EX_TRANSPARENT
    CONTROL       "Property/EndProperty", IDC_SETTINGS_MATCHER_KEYWORD_PROPERTY, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 36, 76, 88, 12, WS_EX_TRANSPARENT
    CONTROL       "Group/EndGroup", IDC_SETTINGS_MATCHER_KEYWORD_GROUP, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 132, 76, 88, 12, WS_EX_TRANSPARENT
    CONTROL       "Struct/EndStruct", IDC_SETTINGS_MATCHER_KEYWORD_STRUCT, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 228, 76, 88, 12, WS_EX_TRANSPARENT
    CONTROL       "If/EndIf", IDC_SETTINGS_MATCHER_KEYWORD_IF, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 36, 92, 88, 12, WS_EX_TRANSPARENT
    CONTROL       "Include Else/ElseIf", IDC_SETTINGS_MATCHER_KEYWORD_ELSE, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 132, 92, 88, 12, WS_EX_TRANSPARENT
    CONTROL       "While/EndWhile", IDC_SETTINGS_MATCHER_KEYWORD_WHILE, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 228, 92, 88, 12, WS_EX_TRANSPARENT
    LTEXT         "Indicator ID:", IDC_SETTINGS_MATCHER_INDICATOR_ID_LABEL, 24, 114, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
    EDITTEXT      IDC_SETTINGS_MATCHER_INDICATOR_ID, 96, 112, 24, 12, ES_LEFT | ES_AUTOHSCROLL
    LTEXT         "Matched Style:", IDC_SETTINGS_MATCHER_MATCHED_STYLE_LABEL, 24, 134, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
    COMBOBOX      IDC_SETTINGS_MATCHER_MATCHED_STYLE_DROPDOWN, 96, 132, 112, 16, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT         "Foreground color:", IDC_SETTINGS_MATCHER_MATCHED_FGCOLOR_LABEL, 216, 134, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
    LTEXT         "Unmatched Style:", IDC_SETTINGS_MATCHER_UNMATCHED_STYLE_LABEL, 24, 154, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
    COMBOBOX      IDC_SETTINGS_MATCHER_UNMATCHED_STYLE_DROPDOWN, 96, 152, 112, 16, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT         "Foreground color:", IDC_SETTINGS_MATCHER_UNMATCHED_FGCOLOR_LABEL, 216, 154, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
}
  //
  // Error annotator tab dialog
  //
IDD_SETTINGS_TAB_ERROR_ANNOTATOR_DLG DIALOGEX 0, 0, 388, 234
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
{
    // Annotation group
    GROUPBOX      "Annotation", IDC_SETTINGS_ANNOTATOR_ANNOTATION_GROUP, 12, 24, 372, 60, BS_LEFT
    CONTROL       "Enable error annotation", IDC_SETTINGS_ANNOTATOR_ENABLE_ANNOTATION, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 20, 36, 120, 12, WS_EX_TRANSPARENT
    LTEXT         "Foreground color:", IDC_SETTINGS_ANNOTATOR_ANNOTATION_FGCOLOR_LABEL, 32, 60, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
    LTEXT         "Background color:", IDC_SETTINGS_ANNOTATOR_ANNOTATION_BGCOLOR_LABEL, 136, 60, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
    CONTROL       "Italic", IDC_SETTINGS_ANNOTATOR_ANNOTATION_ITALIC, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 240, 60, 32, 12, WS_EX_TRANSPARENT
    CONTROL       "Bold", IDC_SETTINGS_ANNOTATOR_ANNOTATION_BOLD, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 280, 60, 32, 12, WS_EX_TRANSPARENT
    // Indication group
    GROUPBOX      "Indication", IDC_SETTINGS_ANNOTATOR_INDICATOR_GROUP, 12, 88, 372, 72, BS_LEFT
    CONTROL       "Enable error indication", IDC_SETTINGS_ANNOTATOR_ENABLE_INDICATION, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 20, 100, 120, 12, WS_EX_TRANSPARENT
    LTEXT         "Indicator ID:", IDC_SETTINGS_ANNOTATOR_INDICATOR_ID_LABEL, 32, 118, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
    EDITTEXT      IDC_SETTINGS_ANNOTATOR_INDICATOR_ID, 104, 116, 24, 12, ES_LEFT | ES_AUTOHSCROLL
    LTEXT         "Indicator Style:", IDC_SETTINGS_ANNOTATOR_INDICATOR_STYLE_LABEL, 32, 138, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
    COMBOBOX      IDC_SETTINGS_ANNOTATOR_INDICATOR_STYLE_DROPDOWN, 104, 136, 112, 16, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT         "Foreground color:", IDC_SETTINGS_ANNOTATOR_INDICATOR_FGCOLOR_LABEL, 224, 138, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
}
  //
  // Compiler tab dialog
  //
IDD_SETTINGS_TAB_COMPILER_DLG DIALOGEX 0, 0, 388, 234
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
{
    // Games group
    GROUPBOX      "Compiler mode", IDC_SETTINGS_COMPILER_GAMES_GROUP, 12, 24, 372, 128, BS_LEFT
    CONTROL       "Auto", IDC_SETTINGS_COMPILER_RADIO_AUTO, "Button", BS_AUTORADIOBUTTON | BS_NOTIFY | WS_GROUP | WS_TABSTOP, 20, 36, 32, 12, WS_EX_TRANSPARENT
    CONTROL       "Skyrim", IDC_SETTINGS_COMPILER_RADIO_SKYRIM, "Button", BS_AUTORADIOBUTTON | BS_NOTIFY | WS_TABSTOP, 20, 80, 56, 12, WS_EX_TRANSPARENT
    CONTROL       "Skyrim SE/AE", IDC_SETTINGS_COMPILER_RADIO_SSE, "Button", BS_AUTORADIOBUTTON | BS_NOTIFY | WS_TABSTOP, 20, 100, 56, 12, WS_EX_TRANSPARENT
    CONTROL       "Fallout 4", IDC_SETTINGS_COMPILER_RADIO_FO4, "Button", BS_AUTORADIOBUTTON | BS_NOTIFY | WS_TABSTOP, 20, 120, 56, 12, WS_EX_TRANSPARENT
    LTEXT         "Default game:", IDC_SETTINGS_COMPILER_AUTO_DEFAULT_GAME_LABEL, 68, 38, 48, 12, SS_NOTIFY, WS_EX_TRANSPARENT
    COMBOBOX      IDC_SETTINGS_COMPILER_AUTO_DEFAULT_GAME_DROPDOWN, 124, 36, 64, 16, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT         "Default output directory:", IDC_SETTINGS_COMPILER_AUTO_DEFAULT_OUTPUT_LABEL, 32, 62, 84, 12, SS_NOTIFY, WS_EX_TRANSPARENT
    EDITTEXT      IDC_SETTINGS_COMPILER_AUTO_DEFAULT_OUTPUT, 124, 60, 248, 12, ES_LEFT | ES_AUTOHSCROLL
    PUSHBUTTON    "Enable", IDC_SETTINGS_COMPILER_SKYRIM_TOGGLE, 80, 80, 40, 12
    PUSHBUTTON    "Configure", IDC_SETTINGS_COMPILER_SKYRIM_CONFIGURE, 124, 80, 40, 12
    PUSHBUTTON    "Enable", IDC_SETTINGS_COMPILER_SSE_TOGGLE, 80, 100, 40, 12
    PUSHBUTTON    "Configure", IDC_SETTINGS_COMPILER_SSE_CONFIGURE, 124, 100, 40, 12
    PUSHBUTTON    "Enable", IDC_SETTINGS_COMPILER_FO4_TOGGLE, 80, 120, 40, 12
    PUSHBUTTON    "Configure", IDC_SETTINGS_COMPILER_FO4_CONFIGURE, 124, 120, 40, 12

    // Other compiler settings
    CONTROL       "Allow compiling files not recognized as Papyrus script", IDC_SETTINGS_COMPILER_ALLOW_UNMANAGED_SOURCE, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 20, 160, 200, 12, WS_EX_TRANSPARENT
}
  //
  // Game tab dialog
  //
IDD_SETTINGS_TAB_GAME_DLG DIALOGEX 0, 0, 388, 234
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
{
  LTEXT         "Install path:", IDC_SETTINGS_TAB_GAME_INSTALL_PATH_LABEL, 12, 26, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  EDITTEXT      IDC_SETTINGS_TAB_GAME_INSTALL_PATH, 84, 24, 296, 12, ES_LEFT | ES_AUTOHSCROLL
  LTEXT         "Compiler path:", IDC_SETTINGS_TAB_GAME_COMPILER_PATH_LABEL, 12, 46, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  EDITTEXT      IDC_SETTINGS_TAB_GAME_COMPILER_PATH, 84, 44, 296, 12, ES_LEFT | ES_AUTOHSCROLL
  LTEXT         "Import directories:", IDC_SETTINGS_TAB_GAME_IMPORT_DIRECTORIES_LABEL1, 12, 66, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "(One per line, no", IDC_SETTINGS_TAB_GAME_IMPORT_DIRECTORIES_LABEL2, 12, 82, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "trailing backslash)", IDC_SETTINGS_TAB_GAME_IMPORT_DIRECTORIES_LABEL3, 12, 98, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  EDITTEXT      IDC_SETTINGS_TAB_GAME_IMPORT_DIRECTORIES, 84, 64, 296, 48, ES_LEFT | ES_MULTILINE | ES_WANTRETURN | ES_AUTOHSCROLL | ES_AUTOVSCROLL | WS_VSCROLL
  LTEXT         "Output directory:", IDC_SETTINGS_TAB_GAME_OUTPUT_DIRECTORY_LABEL, 12, 122, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  EDITTEXT      IDC_SETTINGS_TAB_GAME_OUTPUT_DIRECTORY, 84, 120, 296, 12, ES_LEFT | ES_AUTOHSCROLL
  LTEXT         "Flag file:", IDC_SETTINGS_TAB_GAME_FLAG_FILE_LABEL, 12, 142, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  EDITTEXT      IDC_SETTINGS_TAB_GAME_FLAG_FILE, 84, 140, 296, 12, ES_LEFT | ES_AUTOHSCROLL
  CONTROL       "Anonymize generated PEX", IDC_SETTINGS_TAB_GAME_ANONYMIZE, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 12, 160, 120, 12, WS_EX_TRANSPARENT
  CONTROL       "Optimize flag", IDC_SETTINGS_TAB_GAME_OPTIMIZE, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 12, 180, 56, 12, WS_EX_TRANSPARENT
  CONTROL       "Release flag", IDC_SETTINGS_TAB_GAME_RELEASE, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 76, 180, 56, 12, WS_EX_TRANSPARENT
  CONTROL       "Final flag", IDC_SETTINGS_TAB_GAME_FINAL, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 140, 180, 56, 12, WS_EX_TRANSPARENT
}

IDD_COLOUR_POPUP DIALOGEX 0, 0, 132, 113
STYLE DS_SETFONT | WS_POPUP | DS_MODALFRAME
FONT 8, TEXT("MS Shell Dlg"), 0, 0, 0x0
{
  LISTBOX       IDC_COLOUR_LIST, 7, 7, 117, 79, LBS_OWNERDRAWFIXED | LBS_NOINTEGRALHEIGHT | LBS_MULTICOLUMN | NOT WS_BORDER | WS_TABSTOP
  DEFPUSHBUTTON "More Colours...", IDOK, 39, 92, 55, 14
}

/////////////////////////////////////////////////////////////////////////////
//
// Strings
//

STRINGTABLE
{
  IDS_SETTINGS_LEXER_FOLD_MIDDLE_TOOLTIP, L"When enabled, If/Else/ElseIf blocks are folded separately. When disabled, only If blocks are folded until terminated by EndIf."

  IDS_SETTINGS_LEXER_CLASS_NAME_CACHING_TOOLTIP, L"When a script file references another script (a.k.a. class), the file name is checked every time. Enabling this option will cache the check result to reduce I/O operation.\r\n\
However, there is a caveat, that when a new script file is generated in one of the import directories, the new class name may not be dynamically recognized, if the name has already been checked and treated as not a class name.\r\n\
When this happens, simply disable the option to force the lexer to re-check for class names. Afterwards the option can be enabled again."

  IDS_SETTINGS_LEXER_CLASS_LINK_TOOLTIP, L"When enabled, referenced script (class) file can be opened by mouse double clicking while holding down the configured keyboard modifier."

  IDS_SETTINGS_MATCHER_TOOLTIP, L"Highlight matching keyword pair when cursor is at one of the words in the pair. When matching If/EndIf pair, Else/ElseIf can also be optionally included in the match."

  IDS_SETTINGS_MATCHER_INDICATOR_ID_TOOLTIP, L"Choose a number between 9 and 20. Keep in mind other plugins may use indiator IDs as well, e.g. DSpellCheck uses 19, so if there are conflicts, just choose a different number."

  IDS_SETTINGS_ANNOTATOR_ENABLE_ANNOTATION_TOOLTIP, L"Show annotations under error lines. They are inside a round box. When there are multiple errors on the same line, they are grouped in the same annotation box."

  IDS_SETTINGS_ANNOTATOR_ENABLE_INDICATION_TOOLTIP, L"Show indications where errors happen."

  IDS_SETTINGS_ANNOTATOR_INDICATOR_ID_TOOLTIP, L"Choose a number between 9 and 20. Keep in mind other plugins may use indiator IDs as well, e.g. DSpellCheck uses 19, so if there are conflicts, just choose a different number.\r\n\
Note, if changes have been made after indications were shown, changing ID again may cause indications to be rendered incorrectly. Trigger recompilation to fix them if needed."

  IDS_SETTINGS_COMPILER_RADIO_AUTO_TOOLTIP, L"In this mode, Papyrus compiler to be used is determined by the path of source script file. If it's under a detected game's directory, that game's settings will be used. Otherwise, \
default game's settings will be used, except for output directory, which will use the one configured for auto mode."
}

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#define VER_FILEVERSION         MAJOR_VERSION, MINOR_VERSION, PATCH_VERSION, BUILD_NUMBER
#define VER_FILEVERSION_STR     PLUGIN_VERSION L"." BUILD_NUMBER

#define VER_PRODUCTVERSION      MAJOR_VERSION, MINOR_VERSION, PATCH_VERSION, 0
#define VER_PRODUCTVERSION_STR  PLUGIN_VERSION

#ifndef DEBUG
#define VER_DEBUG   0
#else
#define VER_DEBUG   VS_FF_DEBUG
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION         VER_FILEVERSION
PRODUCTVERSION      VER_PRODUCTVERSION
FILEFLAGSMASK       VS_FFI_FILEFLAGSMASK
FILEFLAGS           (VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE|VER_DEBUG)
FILEOS              VOS__WINDOWS32
FILETYPE            VFT_DLL
FILESUBTYPE         VFT2_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "Comments",           "Visit: https://github.com/blu3mania/npp-papyrus"
            VALUE "CompanyName",        "blu3mania"
            VALUE "FileDescription",    "Notepad++ Plugin: Papyrus"
            VALUE "FileVersion",        VER_FILEVERSION_STR
            VALUE "InternalName",       "Papyrus scripting language support for npp.exe"
            VALUE "LegalCopyright",     "Copyright (C) 2021 blu3mania <blu3mania@hotmail.com>"
            VALUE "OriginalFilename",   "Papyrus.dll"
            VALUE "ProductName",        "Papyrus Plugin for Notepad++"
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}
