/*
This file is part of Papyrus Plugin for Notepad++.

Copyright (C) 2016 Tschilkroete <tschilkroete@gmail.com> (original author)
Copyright (C) 2021 blu3mania <blu3mania@hotmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

#pragma code_page(65001) // UTF-8

#include "Common\Resources.hpp"

#include "..\external\npp\ColourPopupResource.h"

#include <commctrl.h>
#include <windows.h>

IDD_ERRORS_WINDOW DIALOGEX 0, 0, 312, 184
CAPTION "Papyrus Script Errors"
BEGIN
  CONTROL "ErrorList", IDC_ERRORS_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_NOSORTHEADER | WS_BORDER, 0, 0, 0, 0
END

IDD_ABOUT_DIALOG DIALOGEX 0, 0, 296, 216
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "About Papyrus Plugin"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
  LTEXT         "Papyrus Plugin for Notepad++" , IDC_ABOUT_PRODUCT_NAME, 16, 12, 106, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "v[VERSION] (Build [BUILD])", IDC_ABOUT_PRODUCT_VERSION, 128, 12, 80, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "Copyright 2016 - [YEAR]", IDC_ABOUT_COPYRIGHT, 16, 24, 200, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "Homepage:", IDC_ABOUT_HOMEPAGE, 16, 48, 108, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "https://github.com/blu3mania/npp-papyrus", IDC_ABOUT_HOMEPAGE_LINK, 128, 48, 160, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "License:", IDC_ABOUT_LICENSE, 16, 60, 108, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "GNU General Public Licence v3", IDC_ABOUT_LICENSE_LINK, 128, 60, 160, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "Authors:", IDC_ABOUT_AUTHORS, 16, 72, 200, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "Tschilkroete (original)", IDC_ABOUT_ORIG_AUTHOR, 32, 84, 92, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "tschilkroete@gmail.com", IDC_ABOUT_ORIG_AUTHOR_EMAIL, 128, 84, 160, 10
  LTEXT         "blu3mania", IDC_ABOUT_AUTHOR, 32, 96, 92, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "blu3mania@hotmail.com", IDC_ABOUT_AUTHOR_EMAIL, 128, 96, 160, 10
  LTEXT         "This plugin includes source code (original/modified) from the following libraries:", IDC_ABOUT_LIBRARIES, 16, 120, 264, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "Notepad++", IDC_ABOUT_LIBRARY_NPP, 32, 132, 92, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "See ? -> About Notepad++ for more information", IDC_ABOUT_LIBRARY_NPP_LINK, 128, 132, 160, 10
  LTEXT         "Scintilla", IDC_ABOUT_LIBRARY_SCINTILLA, 32, 144, 92, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "https://www.scintilla.org", IDC_ABOUT_LIBRARY_SCINTILLA_LINK, 128, 144, 160, 10
  LTEXT         "TinyXML2", IDC_ABOUT_LIBRARY_TINYXML, 32, 156, 92, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "http://www.grinninglizard.com/tinyxml2", IDC_ABOUT_LIBRARY_TINYXML_LINK, 128, 156, 160, 10
  LTEXT         "Guidelines Support Library", IDC_ABOUT_LIBRARY_GSL, 32, 168, 92, 10, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "https://github.com/microsoft/GSL", IDC_ABOUT_LIBRARY_GSL_LINK, 128, 168, 160, 10
  DEFPUSHBUTTON "Ok", IDOK, 128, 192, 40, 12
END

IDD_SETTINGS_DIALOG DIALOGEX 0, 0, 396, 216
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Papyrus Plugin Settings"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
  CONTROL       "SettingsTabs", IDC_SETTINGS_TABS, "SysTabControl32", TCS_MULTILINE | WS_TABSTOP, 4, 4, 388, 204

  //
  // Lexer tab
  //

  GROUPBOX      "Papyrus Script Lexer", IDC_SETTINGS_LEXER_SCRIPT_GROUP, 12, 24, 372, 48, BS_LEFT
  CONTROL       "Fold on Else and ElseIf", IDC_SETTINGS_LEXER_FOLDMIDDLE, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 20, 36, 120, 12, WS_EX_TRANSPARENT
  CONTROL       "Enable class names caching", IDC_SETTINGS_LEXER_CLASSNAMECACHING, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 20, 56, 120, 12, WS_EX_TRANSPARENT

  //
  // Error annotator tab
  //

  // Annotation group
  GROUPBOX      "Annotation", IDC_SETTINGS_ANNOTATOR_ANNOTATION_GROUP, 12, 24, 372, 76, BS_LEFT
  CONTROL       "Enable error annotation", IDC_SETTINGS_ANNOTATOR_ENABLE_ANNOTATION, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 20, 36, 120, 12, WS_EX_TRANSPARENT
  LTEXT         "Foreground color:", IDC_SETTINGS_ANNOTATOR_ANNOTATION_FGCOLOR_LABEL, 32, 60, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "Background color:", IDC_SETTINGS_ANNOTATOR_ANNOTATION_BGCOLOR_LABEL, 144, 60, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  CONTROL       "Italic", IDC_SETTINGS_ANNOTATOR_ANNOTATION_ITALIC, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 32, 84, 32, 12, WS_EX_TRANSPARENT
  CONTROL       "Bold", IDC_SETTINGS_ANNOTATOR_ANNOTATION_BOLD, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 72, 84, 32, 12, WS_EX_TRANSPARENT
  // Indication group
  GROUPBOX      "Indication", IDC_SETTINGS_ANNOTATOR_INDICATOR_GROUP, 12, 104, 372, 96, BS_LEFT
  CONTROL       "Enable error indication", IDC_SETTINGS_ANNOTATOR_ENABLE_INDICATION, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 20, 112, 120, 12, WS_EX_TRANSPARENT
  LTEXT         "Indicator ID:", IDC_SETTINGS_ANNOTATOR_INDICATOR_ID_LABEL, 32, 128, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  EDITTEXT      IDC_SETTINGS_ANNOTATOR_INDICATOR_ID, 104, 128, 24, 12, ES_LEFT | ES_AUTOHSCROLL
  LTEXT         "Indicator Style:", IDC_SETTINGS_ANNOTATOR_INDICATOR_STYLE_LABEL, 32, 148, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  COMBOBOX      IDC_SETTINGS_ANNOTATOR_INDICATOR_STYLE_DROPDOWN, 104, 148, 112, 16, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  LTEXT         "Foreground color:", IDC_SETTINGS_ANNOTATOR_INDICATOR_FGCOLOR_LABEL, 32, 172, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT

  //
  // Compiler tab
  //

  // Games group
  GROUPBOX      "Compiler mode", IDC_SETTINGS_COMPILER_GAMES_GROUP, 12, 24, 372, 128, BS_LEFT
  CONTROL       "Auto", IDC_SETTINGS_COMPILER_RADIO_AUTO, "Button", BS_AUTORADIOBUTTON | BS_NOTIFY | WS_GROUP | WS_TABSTOP, 20, 36, 32, 12, WS_EX_TRANSPARENT
  CONTROL       "Skyrim", IDC_SETTINGS_COMPILER_RADIO_SKYRIM, "Button", BS_AUTORADIOBUTTON | BS_NOTIFY | WS_TABSTOP, 20, 80, 40, 12, WS_EX_TRANSPARENT
  CONTROL       "Skyrim SE", IDC_SETTINGS_COMPILER_RADIO_SSE, "Button", BS_AUTORADIOBUTTON | BS_NOTIFY | WS_TABSTOP, 20, 100, 40, 12, WS_EX_TRANSPARENT
  CONTROL       "Fallout 4", IDC_SETTINGS_COMPILER_RADIO_FO4, "Button", BS_AUTORADIOBUTTON | BS_NOTIFY | WS_TABSTOP, 20, 120, 40, 12, WS_EX_TRANSPARENT
  LTEXT         "Default game:", IDC_SETTINGS_COMPILER_AUTO_DEFAULT_GAME_LABEL, 68, 36, 48, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  COMBOBOX      IDC_SETTINGS_COMPILER_AUTO_DEFAULT_GAME_DROPDOWN, 124, 36, 64, 16, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  LTEXT         "Default output directory:", IDC_SETTINGS_COMPILER_AUTO_DEFAULT_OUTPUT_LABEL, 32, 60, 84, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  EDITTEXT      IDC_SETTINGS_COMPILER_AUTO_DEFAULT_OUTPUT, 124, 60, 248, 12, ES_LEFT | ES_AUTOHSCROLL
  PUSHBUTTON    "Enable", IDC_SETTINGS_COMPILER_SKYRIM_TOGGLE, 72, 80, 40, 12
  PUSHBUTTON    "Configure", IDC_SETTINGS_COMPILER_SKYRIM_CONFIGURE, 120, 80, 40, 12
  PUSHBUTTON    "Enable", IDC_SETTINGS_COMPILER_SSE_TOGGLE, 72, 100, 40, 12
  PUSHBUTTON    "Configure", IDC_SETTINGS_COMPILER_SSE_CONFIGURE, 120, 100, 40, 12
  PUSHBUTTON    "Enable", IDC_SETTINGS_COMPILER_FO4_TOGGLE, 72, 120, 40, 12
  PUSHBUTTON    "Configure", IDC_SETTINGS_COMPILER_FO4_CONFIGURE, 120, 120, 40, 12

  // Other compiler settings
  CONTROL       "Allow compiling files not recognized as Papyrus script", IDC_SETTINGS_COMPILER_ALLOW_UNMANAGED_SOURCE, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 20, 160, 200, 12, WS_EX_TRANSPARENT

  //
  // Game tab
  //

  LTEXT         "Install path:", IDC_SETTINGS_TAB_GAME_INSTALL_PATH_LABEL, 12, 24, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  EDITTEXT      IDC_SETTINGS_TAB_GAME_INSTALL_PATH, 84, 24, 296, 12, ES_LEFT | ES_AUTOHSCROLL
  LTEXT         "Compiler path:", IDC_SETTINGS_TAB_GAME_COMPILER_PATH_LABEL, 12, 44, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  EDITTEXT      IDC_SETTINGS_TAB_GAME_COMPILER_PATH, 84, 44, 296, 12, ES_LEFT | ES_AUTOHSCROLL
  LTEXT         "Import directories:", IDC_SETTINGS_TAB_GAME_IMPORT_DIRECTORIES_LABEL1, 12, 64, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  LTEXT         "(One per line)", IDC_SETTINGS_TAB_GAME_IMPORT_DIRECTORIES_LABEL2, 12, 84, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  EDITTEXT      IDC_SETTINGS_TAB_GAME_IMPORT_DIRECTORIES, 84, 64, 296, 48, ES_LEFT | ES_MULTILINE | ES_WANTRETURN | ES_AUTOHSCROLL | ES_AUTOVSCROLL | WS_VSCROLL 
  LTEXT         "Output directory:", IDC_SETTINGS_TAB_GAME_OUTPUT_DIRECTORY_LABEL, 12, 120, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  EDITTEXT      IDC_SETTINGS_TAB_GAME_OUTPUT_DIRECTORY, 84, 120, 296, 12, ES_LEFT | ES_AUTOHSCROLL
  LTEXT         "Flag file:", IDC_SETTINGS_TAB_GAME_FLAG_FILE_LABEL, 12, 140, 64, 12, SS_NOTIFY, WS_EX_TRANSPARENT
  EDITTEXT      IDC_SETTINGS_TAB_GAME_FLAG_FILE, 84, 140, 296, 12, ES_LEFT | ES_AUTOHSCROLL
  CONTROL       "Anonymize generated PEX", IDC_SETTINGS_TAB_GAME_ANONYMIZE, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 12, 160, 120, 12, WS_EX_TRANSPARENT
  CONTROL       "Optimize flag", IDC_SETTINGS_TAB_GAME_OPTIMIZE, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 12, 180, 56, 12, WS_EX_TRANSPARENT
  CONTROL       "Release flag", IDC_SETTINGS_TAB_GAME_RELEASE, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 76, 180, 56, 12, WS_EX_TRANSPARENT
  CONTROL       "Final flag", IDC_SETTINGS_TAB_GAME_FINAL, "Button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_TABSTOP, 140, 180, 56, 12, WS_EX_TRANSPARENT
END

IDD_COLOUR_POPUP DIALOGEX 0, 0, 132, 113
STYLE DS_SETFONT | WS_POPUP | DS_MODALFRAME
FONT 8, TEXT("MS Shell Dlg"), 0, 0, 0x0
BEGIN
  LISTBOX       IDC_COLOUR_LIST, 7, 7, 117, 79, LBS_OWNERDRAWFIXED | LBS_NOINTEGRALHEIGHT | LBS_MULTICOLUMN | NOT WS_BORDER | WS_TABSTOP
  DEFPUSHBUTTON "More Colours...", IDOK, 39, 92, 55, 14
END

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#define VER_FILEVERSION         MAJOR_VERSION, MINOR_VERSION, PATCH_VERSION, BUILD_NUMBER
#define VER_FILEVERSION_STR     PLUGIN_VERSION L"." BUILD_NUMBER

#define VER_PRODUCTVERSION      MAJOR_VERSION, MINOR_VERSION, PATCH_VERSION, 0
#define VER_PRODUCTVERSION_STR  PLUGIN_VERSION

#ifndef DEBUG
#define VER_DEBUG   0
#else
#define VER_DEBUG   VS_FF_DEBUG
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION         VER_FILEVERSION
PRODUCTVERSION      VER_PRODUCTVERSION
FILEFLAGSMASK       VS_FFI_FILEFLAGSMASK
FILEFLAGS           (VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE|VER_DEBUG)
FILEOS              VOS__WINDOWS32
FILETYPE            VFT_DLL
FILESUBTYPE         VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments",           "Visit: https://github.com/blu3mania/npp-papyrus"
            VALUE "CompanyName",        "blu3mania"
            VALUE "FileDescription",    "Notepad++ Plugin: Papyrus"
            VALUE "FileVersion",        VER_FILEVERSION_STR
            VALUE "InternalName",       "Papyrus scripting language support for npp.exe"
            VALUE "LegalCopyright",     "Copyright (C) 2021 blu3mania <blu3mania@hotmail.com>"
            VALUE "OriginalFilename",   "Papyrus.dll"
            VALUE "ProductName",        "Papyrus Plugin for Notepad++"
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
